<!DOCTYPE html>
<html>
  <head>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <meta charset="utf-8"/>
    <title>Shell Test</title>
  </head>
  <body>
    <div id="root"/>
  </body>
</html>
